<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zhnWeatherlife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD519EA11D53876800968CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD519EBA1D53876800968CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD519EC51D53876800968CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
